@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: "Spartan", sans;
  background-color: var(--white);
  background-image: url("./images/bg-pattern-top-desktop.svg"),
    url("./images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 5rem auto 3rem auto;
  padding: 1rem 1.5rem;
}

.intro {
  text-align: center;
  margin-bottom: 3rem;
}

.intro__heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  margin: 0 auto 1rem auto;
  line-height: 1;
  max-width: 500px;
}

.intro__text {
  line-height: 1.5;
  font-weight: 500;
  color: var(--dark-grayish-magenta);
  margin: 0 auto 2.75rem auto;
  max-width: 500px;
}

.reviews {
  max-width: 540px;
  margin: 0 auto;
}

.review {
  background: var(--light-grayish-magenta);
  max-width: 445px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
}

.review-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.review__text {
  font-weight: 700;
  font-size: 0.825rem;
  text-align: center;
  color: var(--very-dark-magenta);
}

.testimonials {
  padding-bottom: 30px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  max-width: 350px;
  padding: 2.25rem 1.625rem;
  background: var(--very-dark-magenta);
  color: var(--white);
  border-radius: 0.5rem;
}

.card__details {
  display: flex;
  margin-bottom: 1.5rem;
}

.card__name,
.card__verified {
  display: block;
  font-size: 0.825rem;
}

.card__name {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.card__verified {
  color: var(--soft-pink);
}

.card__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.card__quote {
  line-height: 1.7;
  font-size: 0.825rem;
  color: var(--light-grayish-magenta);
}

.footer {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
}

.footer a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
  }

  .container {
    margin: 7.5rem auto 3rem auto;
  }

  .intro {
    display: flex;
  }

  .intro__copy {
    flex: 1;
    text-align: left;
  }

  .intro__heading {
    font-size: 3rem;
    margin-left: 0;
  }

  .intro__text {
    padding-right: 2rem;
    margin-left: 0;
  }

  .reviews {
    flex: 1;
  }

  .review {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .review-icons {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .review-1 {
    margin-right: auto;
  }

  .review-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .review-3 {
    margin-left: auto;
  }

  .testimonials {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .card-2 {
    transform: translateY(1rem);
  }

  .card-3 {
    transform: translateY(2rem);
  }
}
