@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: "Spartan", sans;
  background: var(--white);
}

.container {
  width: 100%;
  max-width: 1076px;
  padding: 1rem;
  margin: 4rem auto;
}

.social-proof {
  text-align: center;
  margin-bottom: 1.75rem;
}

.heading--main {
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  margin-bottom: 1rem;
}

.copy {
  line-height: 1.5;
  font-weight: 500;
  color: var(--dark-grayish-magenta);
  margin-bottom: 1rem;
}

.review {
  background: var(--light-grayish-magenta);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  max-width: 415px;
}

.review__icon {
  margin-bottom: 0.5rem;
}

.review__text {
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.testimonials {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  max-width: 325px;
  padding: 2.25rem 1.75rem;
  background: var(--very-dark-magenta);
  color: var(--white);
  border-radius: 0.5rem;
  margin: auto;
}

.card__details {
  display: flex;
  margin-bottom: 1.5rem;
}

.card__name,
.card__verified {
  display: block;
}

.card__name {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.card__verified {
  color: var(--soft-pink);
}

.card__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.card__quote {
  line-height: 1.5;
  font-size: 14px;
}

.footer {
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
}

.footer a {
  color: hsl(228, 45%, 44%);
}
